@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

img {
  max-width: 100%;
  display: block;
}

.card-list {
  width: 90%;
  max-width: 360px;
  margin: 6px;
}

.card {
  background-color: var(--card-bg);
  box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: .15s ease-in;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
    transform: translatey(-5px);
  }
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  a {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    padding-right: 1rem;
    text-decoration: none;
    color: inherit;
    will-change: transform;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.posted-by{
  text-align: start;
}

.card-footer {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;

  &:first-child:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentcolor;
    margin-left: .75rem;
    margin-right: .75rem;
  }
  &:not(:first-child):after {
    display: block;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: currentcolor;
      margin-left: .75rem;
      margin-right: .75rem;
  }

}

