@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding-bottom: 2rem;
}

/* --- primary header --- */

.primary-header {
  display: flex;
  min-height: 120px;
  padding: 1rem 2rem;
  background-color: var(--header-background-color);

  .container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .home-link {
    height: 36px;
  }

  .home-link img {
    height: 100%;
  }

  .primary-navigation{
  
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

    .active a {
      color: var(--secondary-color);
    }

    .nav-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      justify-content: right;
      list-style: none;
      align-items: center;

      a {
        display: flex;
        width: 100%;
        min-height: 80px;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
      }

      .user-profile {
        column-gap: .6rem;

        .avatar {
          max-width: 60px;
          max-height: auto;
          border-radius: 50%;
        }

        span {
          margin-left: auto;
        }
      }

    }
  }
}

/* --- primary header END --- */

/* --- Burger Toggle --- */

.primary-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 0;
  cursor: pointer;

  .line,
  .line:before,
  .line:after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--secondary-color);
    height: 3px;
    width: 30px;
    transition: transform 100ms ease-in-out;
    border-radius: 2px;
  }

  .line:before {
    margin-top: -8px;
  }

  .line:after {
    margin-top: 8px;
  }
}

#primary-toggle:checked+.primary-toggle {
  .line:before {
    margin-top: 0px;
    transform: rotate(45deg);
  }

  .line {
    background-color: transparent;
  }

  .line:after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
}

/* --- Burger Toggle END --- */


* {
  margin: 0
}

/* --- Mobile Menu --- */

@media (max-width: 992px) {

  .primary-header {

    .primary-toggle {
      display: flex;
    }

    .primary-navigation { 
      position: absolute;
      display: grid;
      /* transition for height */
      transition: grid-template-rows 500ms ease-in-out;
      /* menu hidden */
      grid-template-rows: 0fr;
      width: 100%;
      top: calc(1rem + 100%);
      left: 0;
      padding: 0;
      z-index: 999;
      background-color: var(--header-background-color);
      filter: brightness(105%);
      box-shadow: 0 2px 5px rgb(0 0 0 /.1);

      .nav-list {
        display: block;
        overflow: hidden;

        li {
          padding: 0 2rem;
        }

        li:first-child {
          border-top: 2px solid var(--secondary-color);
        }

        li:last-child {
          margin-bottom: 2rem;
        }

        a {
          font-weight: 500;
          font-size: 1.15rem;
          min-height: 0;
          padding: 1rem 0;
          border-bottom: 1px solid rgb(0 0 0 /.1);
        }

        li:last-child a {
          border: 0;
        }

        .user-profile span {
          margin-left: 0;
        }
      }
    }

    #primary-toggle:checked~.primary-navigation {
      grid-template-rows: 1fr;
    }

  }
}

